<html>
    <head>
        <title>Django  blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django  Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello. Welcome to my very first website that i have built using django</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Be curious and excited about everything you see around you. one of the best way to do so is by making sure you constantly involve yourself in the process of learning new things.</p>
        </div>
    </body>
</html>